<launch>
    <arg name="robot_description" default="'$(find xarm_description)/urdf/xarm.urdf'"/>
    <param name="robot_description" command="xacro $(arg robot_description)"/>
    
    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>

     <!-- RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find xarm_launch)/xarm.rviz"/>

</launch>

